<h1>Welcome Back to our app!</h1> 
<h3> To SignIn fill in the form Below =)</h3>

<form method='post' action='/login'>
  <input type='string' placeholder='email' name='email'>
  <input type='password' placeholder='password' name='password'>
  <input type='submit' value='SignIn'>
</form>