<h1>Welcome to our app!</h1> 
<h3> To SignUp fill in the form Below =)</h3>

<form method='post' action='/users'>
  <input type='string' placeholder='email' name='email'>
  <input type='password' placeholder='password' name='password'>
  <input type='submit' value='SignUp'>
</form>