<h1>Let's add a <em>Room</em> to our house!</h1>

<h3> Congratz about adding a room to your house, <br/> Please filling & submit the form to store the rooms features in our system</h3>

<form method='POST' action='/rooms'>
  <label>Name</label> <input type='text' name='name' /><br/>
  <input type='text' name='theme' placeholder="Theme"><br/>
  <p> Click in circle if room is being utilized. <input type="checkbox" name='use'/></p>
  <input type="submit" />
</form>
